<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>blog</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BlogServlet</display-name>
    <servlet-name>BlogServlet</servlet-name>
    <servlet-class>jxvt.com.cn.BlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlogServlet</servlet-name>
    <url-pattern>/BlogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBlogServlet</display-name>
    <servlet-name>GetBlogServlet</servlet-name>
    <servlet-class>jxvt.com.cn.GetBlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBlogServlet</servlet-name>
    <url-pattern>/GetBlogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>jxvt.com.cn.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminBlogListServlet</display-name>
    <servlet-name>AdminBlogListServlet</servlet-name>
    <servlet-class>jxvt.com.cn.AdminBlogListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminBlogListServlet</servlet-name>
    <url-pattern>/AdminBlogListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBlogServlet</display-name>
    <servlet-name>DeleteBlogServlet</servlet-name>
    <servlet-class>jxvt.com.cn.DeleteBlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBlogServlet</servlet-name>
    <url-pattern>/DeleteBlogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditBlogServlet</display-name>
    <servlet-name>EditBlogServlet</servlet-name>
    <servlet-class>jxvt.com.cn.EditBlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBlogServlet</servlet-name>
    <url-pattern>/EditBlogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreEditBlogServlet</display-name>
    <servlet-name>PreEditBlogServlet</servlet-name>
    <servlet-class>jxvt.com.cn.PreEditBlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreEditBlogServlet</servlet-name>
    <url-pattern>/PreEditBlogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostEditBlogServlet</display-name>
    <servlet-name>PostEditBlogServlet</servlet-name>
    <servlet-class>jxvt.com.cn.PostEditBlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostEditBlogServlet</servlet-name>
    <url-pattern>/PostEditBlogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryServlet</display-name>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>jxvt.com.cn.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/CategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreAddBlogServlet</display-name>
    <servlet-name>PreAddBlogServlet</servlet-name>
    <servlet-class>jxvt.com.cn.PreAddBlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreAddBlogServlet</servlet-name>
    <url-pattern>/PreAddBlogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentServlet</display-name>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>jxvt.com.cn.CommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/CommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBlogServlet2</display-name>
    <servlet-name>GetBlogServlet2</servlet-name>
    <servlet-class>jxvt.com.cn.GetBlogServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBlogServlet2</servlet-name>
    <url-pattern>/GetBlogServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>jxvt.com.cn.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PagingServlet</display-name>
    <servlet-name>PagingServlet</servlet-name>
    <servlet-class>jxvt.com.cn.PagingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PagingServlet</servlet-name>
    <url-pattern>/PagingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GradeListServlet</display-name>
    <servlet-name>GradeListServlet</servlet-name>
    <servlet-class>jxvt.com.cn.GradeListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GradeListServlet</servlet-name>
    <url-pattern>/GradeListServlet</url-pattern>
  </servlet-mapping>
</web-app>